<link rel="stylesheet" href="https://cdn.ptezoj.com/swiper/swiper-bundle.min.css">
<style>
    .swiper {
        wight:100%
    }  
</style>
<div class="section visible">
  <div class="section__body">
    <div class="swiper">
      <div class="swiper-wrapper">
        {% if payload.urls %}
          {% for banner in payload.urls %}
            <div class="swiper-slide">
              <img src="{{banner.url}}" style="width: 100%;" />
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
<script src="https://cdn.ptezoj.com/swiper/swiper-bundle.min.js"></script>
<script>        
  var mySwiper = new Swiper ('.swiper', {
    loop: true,

    autoplay: {
        delay: 4000,
        stopOnLastSlide: false,
        disableOnInteraction: true,
    },

    pagination: {
      el: '.swiper-pagination',
    },
    
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  })        
</script>
